{% extends 'base.html' %}
{% block head %}
{% endblock %}

{% block body %}

<body>
    <div class="center">
        <form id="form" method="POST">
            <label for="search" class="label">Search </label><br>
            <input type="text" id="search" name="search" class= "inputs" value="" required><br>
            <label for="search" class="label">Phone Number </label><br>
            <input type="text" id="number" name="number" class="inputs"  value="" required><br>
            <label for="options" id="option" class="label">Sort By</label><br>
            <select id="options" name="options">
            <option value="low">Lowest price</option>
            <option value="high">Highest price</option>
            <option value="bestRated">Best Rated</option><br
            </select>
            <input type="submit" id="button" class="label" value="Submit">
        </form> 
    </div>  
</body> 
{% endblock %}