{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<body>
    <div class="center">
        <form method="POST">
            <label for="url">URL </label>
            <input type="text" id="url" name="url" value="" required>
            <label for="search">Price </label><br>
            <input type="text" id="price" name="price" required>
            <label for="rating">Rating</label>
            <input type="text" name="rating" id="rating" required>
            <label for="review_count">Number of reviews</label>
            <input type="text" name="review_count" id="review_count" required>
            <label for="arrival_date">Arrival date</label>
            <input type="date" name="arrival_date" id="arrival_date" required>
            <input type="submit" value="Submit">    
        </form> 
    </div>  
</body> 
{% endblock %}